body
{
    margin:0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Maven Pro', sans-serif;
    -webkit-user-select: none;-moz-user-select: none;
    -ms-user-select: none;-o-user-select: none;user-select: none;
}

a,a:visited{color:#f41;}

#apps
{
    width:100%;
    border-collapse:collapse;
}

.app
{
    width:25%;
    text-align:center;
    vertical-align:top;
}

#control1,#control2,#control3{-moz-transform:scale(0.75);-webkit-transform:scale(0.75);transform:scale(0.75);position:relative}

#control1{left:0px;top:30px}
#control2{left:55px;top:-50px}
#control3{left:110px;top:-112px}
#control1 label,#control2 label,#control3 label{left:8px}

dial
{
    display:block;
    position:relative;
    width:52px;height:52px;
    cursor:pointer;
    background:url(../img/dial-limit.png)
}

dial div
{
    background:url(../img/dial.png) no-repeat;
}

label
{
    position:relative;color:white;font-size:12px;
    -webkit-user-select: none;-moz-user-select: none;
    -ms-user-select: none;-o-user-select: none;user-select: none;
}

name
{
    font-family: 'New Rocker', cursive;
    font-size:40px;
    position:relative;
    top:-70px;left:10px;
    color:black;
    cursor:default;
    width:100%;
    margin:0 auto;
    text-align:center;
    -webkit-user-select: none;-moz-user-select: none;
    -ms-user-select: none;-o-user-select: none;user-select: none;
}

#title
{
    font-family: 'New Rocker', cursive;
    margin:0 auto;
    text-align:center;
    font-size:450%;
    text-shadow:0 0 3px red,0 2px 40px black;
    color:#fff;
}

#p1
{
    background-color:#333;
    color:white;
    box-shadow:inset 0 0 20px 10px black,0 1px 5px black;
}

#p2,#p4,footer
{
    background:url(../img/noise.png) #eee;
}

#p2 table
{
    width:700px;
    margin:0 auto;
    border-spacing:20px;
}

#p2 img{width:200px}

#p3
{
    background-color:#333;
    box-shadow:inset 0 0 20px black;
}

#p5
{
    background-color:#f41;
    box-shadow:0 0 5px black;
    color:white;
}

.wrapper{max-width:700px;margin:0 auto;width:98%;}

footer
{
    text-align:center;
    display:block;
    color:#222;
    background-color:rgba(0,0,0,0);
    text-shadow:0 1px 2px #f41;
}

h2
{
    text-align:center;
    color:white;
    font-size:200%;
    text-shadow:0 0 3px white;
    margin:0;
}

#pedal
{
    border-radius:5px;
    background-color:#f41;
    background-image:url(pedal-on.png);
    background-size:100% 100%;
    width:195px;
    height:350px;
    box-shadow:0 4px 5px black;
}

#logo
{
    position:absolute;
    right:20px;
    top:-10px;
    z-index:0;
}

button
{
    transition:all .7s;
    background:#f41;
    border-radius:6px;
    font-size:130%;
    cursor:pointer;
    border:1px solid white;
    box-shadow:0 0 2px red;
    text-shadow:0 0 2px;
    color:white;
}

button:hover
{
    transition:all .3s;
    color:black;
    box-shadow:0 0 5px 1px red;
}

#gall
{
    position:relative;
    height:350px;
    width:100%;
    overflow:hidden;
    max-width:900px;
    margin:5px auto 0 auto;
}

#gallery_full
{
    position:fixed;
    width:100%;
    height:100%;
    top:0;left:0;
    background:rgba(0,0,0,.9);
    box-shadow:inset 0 0 40px #f41;
    z-index:9;
}

#gallery_full img
{
    position:relative;
    margin:0 auto;
    max-width:90%;
    border:2px outset gray;
    border-radius:5px;
    box-shadow:0 0 5px black;
    box-sizing:border-box;-moz-box-sizing:border-box;
}

.gallery-obj
{
    position:absolute;
    text-align:center;
    transition: .4s linear all;-webkit-transition: .4s linear all;-moz-transition: .4s linear all;
    border:2px solid gray;
    top:0;left:0;
    transform-origin:50% 50%;
    box-sizing:border-box;-moz-box-sizing:border-box;
    border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;
}

.gallery-obj:hover
{
    transition: .3s linear all;-webkit-transition: .3s linear all;-moz-transition: .3s linear all;
    border-color:#f41!important;
}

.gallery-obj2
{
    display:block!important;
    transform:none!important;
    margin:5px 2%;
    width:45%;
    float:left;
    border:1px solid gray;
    box-shadow:0 0 2px white;
    border-radius:5px;
}

input
{
    border-radius:5px;
}

textarea
{
    width:100%;
    height:140px;
    text-align:justify;
    border-radius:5px;
    margin:5px 0;
}

@media (max-width:770px)
{
    .app
    {
        display:block;
        margin:10px auto;
        width:auto;
    }
    #pedal-top
    {
        display:none;
    }
    #p2 table
    {
        width:100%;
        border-spacing:15px;
        text-align:justify;
    }
    #logo
    {
        right:-15px;
        width:74px
    }
    #title
    {
        font-size:230%;
        text-align:left;
        margin-left:10px;
    }
    #gall
    {
        overflow:auto;
    }
}